main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow-x: auto;
}

main>div {
  padding: 12px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  width: 100%;
  text-align: start;
  margin-bottom: 24px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#bt_create {
  width: 150px;
  background-color: var(--primary-2);
  color: var(--white);
  padding: 4px;
}


#msg[data-error="true"] {
  color: var(--alert-1);
}

#msg[data-error="false"] {
  color: var(--primary-1);
}