:root {
  --primary-1: #D6FF97;
  --primary-2: #4C7D02;
  --primary-3: #213700;
  --font-1: #969696;
  --font-2: #343434;
  --font-3: #2D2D2D;
  --white: #FFFFFF;

  --header-height: 55px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-3);
}

header {
  background-color: var(--primary-2);
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

#logo-white {
  width: 150px;
}

header>div {
  width: 33.33%;
  display: flex;
  gap: 12px;
  justify-content: center;
}

header div:first-child {
  justify-content: start;
}

header div:last-child {
  justify-content: end;
}

header nav {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;

}

header nav a:first-child {
  color: var(--white);
}

#login_link, button {
  background-color: var(--white);
  color: var(--primary-2);
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}

button:hover, #login_link:hover {
  opacity: .8;
  cursor: pointer;
}

main {
  width: 100%;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);

}

input{
  padding: 8px;
  border: 1.5px solid var(--font-3);
  font-size: 14px;
  text-indent: 4px;
  border-radius: 4px;
}
