@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

:root {
  --primary-1: #D6FF97;
  --primary-2: #4C7D02;
  --primary-3: #213700;

  --alert-1: rgb(238, 108, 68);
  --white: #FFFFFF;

  --header-height: 45px
}

input,
textarea {
  background-color: var(--back-color-input);
  color: var(--font-3);
  resize: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
}

input::placeholder,
textarea::placeholder {
  color: var(--font-2);
}

body {
  background-color: var(--back-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-3);

  transition: .1s;

}

a {
  text-decoration: none;
  color: var(--font-3);
}

button {
  background-color: var(--white);
  border: none;
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

button:hover {
  opacity: .8;
  cursor: pointer;
}

main {
  width: 100%;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
}

input {
  padding: 8px;
  border: 1px solid var(--font-2);
  font-size: 14px;
  text-indent: 4px;
  border-radius: 4px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow-x: auto;
  padding: 16px;
}

#login_icon {
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
}