/*posts*/

#content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: 90px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

#form>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-left: 4px;
}

#send_comment_bt {
  padding: 8px;
  background-color: var(--primary-2);
  color: var(--white);
  font-weight: 500;
}

#send_comment_bt>span {
  color: var(--white);
}

#send_comment_bt:disabled {
  opacity: .7;
}

#content_body {
  text-align: justify;
  line-height: 24px;
  font-size: 16px;
}

#content_body img {
  width: 100%;
  padding: 0 15%;
  margin-bottom: 12px;
  border-radius: 8px;
}


#content_body h1,
#content_body h2,
#content_body h3,
#content_body h4,
#content_body h5,
#content_body h6 {
  margin-bottom: 20px;
  font-weight: 600;
  text-align: start;
}

#content_body h1,
#content_body h2 {
  font-size: 20px;
}

#content_body h3 {
  font-size: 18px;
}

#content_body h4 {
  font-size: 18px;
}

#content_body h5 {
  font-size: 16px;
}

#content_body h6 {
  font-size: 16px;
}



#comments {
  max-width: 800px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-bottom: 50px;
}

#comments>h3 {
  margin-bottom: 12px;
}

#comment {
  width: 100%;
  border-bottom: 1px solid var(--font-1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 12px 0;
}

#comment>p {
  padding: 0 12px;
  font-weight: 500;
}

#comment_title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
}

#comment_title>span:first-child {
  background-color: var(--primary-1);
  padding: 4px;
  border-radius: 6px;
  color: var(--primary-3);
  font-weight: 600;
}

#comment_title>span:nth-child(2),
#comment_title>span:last-child {
  color: var(--font-1);
  font-weight: 500;
}

@media (max-width:600px) {
  #content_body img {
    padding: 0;
  }

  h1 {
    font-size: 30px;
  }


  #comment_title {
    font-size: 10px;
  }

  #comment>p {
    font-size: 14px;
  }

  #comments>h5 {
    font-size: 16px;
  }

  #content_body {
    font-size: 18px;
  }
}

#post_date {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  text-align: start;
  justify-content: space-between;
}

#created_at {
  color: var(--font-1);
}

#post_date form {
  display: flex;
  align-items: center;
  justify-content: end;
}

#set_favorite_bt {
  background-color: transparent;
}

#icon_favorite {
  font-size: 20px;
  font-weight: 900 !important;
}